/* section last animatioin */
/* selfEffAnimation */
@keyframes selfEffAnimation{
  0%{
    transform:translateX(-100%);
  }100%{
    transform:translateX(0);
  }
}
.selfEffAnimation{
 animation: selfEffAnimation 2s linear;
}
@keyframes selfEffContAnimation{
  0%{
    transform:translateX(-100%);
  }100%{
    transform:translateX(0);
  }
}
.selfEffContAnimation{
 animation: selfEffContAnimation 3s linear;
}
/* selfEffAnimation END */
@keyframes slide{
 	0%{
 		transform:translateX(-100%);
 		opacity: 0;
 	}
  50%{
      opacity: 0.5;
    }
  100%{
  		transform:translateX(0);
		  opacity: 1;
  	}
}
.slide{
  animation: slide 2s linear;
}
@keyframes slideR{
 	0%{
 		transform:translateX(100%);
 		opacity: 0;
 	}
  50%{
      opacity: 0.5;
    }
  100%{
  		transform:translateX(0);
		  opacity: 1;
  	}
}
.sliderR{
  animation: slideR 2s linear;
}
/* animation SECTION FIRST */
@keyframes txtAnimation{
  0%{
    color: orange;
  }
  50%{
    color: black;
  }
  60%{
    color: orange;
  }
  80%{
    color: black;
  }
  90%{
    color: orange;
  }
  100%{
    color: "";
  }
}
.txtAnimation{
  animation: txtAnimation;
  animation-duration: 2s; 
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
}

/* instagram section animation */

@keyframes galerryAnim{
   0%{
    transform: scale(0.3,0.3);
  }
  100%{
    transform: scale(1, 1);
  }
}
.galerryAnim{
  animation: galerryAnim 2s linear;
  animation-delay: 500ms;
 }
 