/*backgroun animation==========================================*/
.bg-wrapper{
	position: absolute;
	overflow: hidden;
	height: 560px;
	min-width: 100%;
	/* transform: translateZ(0); */
}
.bg{
	position: relative;
	padding:  0;
}
.bg__items{
	position: absolute;
	opacity: 0;
	width: 100%;
	height:inherit;
	transition: 2s;
	transform: translate3d(0, 0, 0);
}
.active{
	 opacity: 1;
	 transition: 1s;
} 
.bg__img{
	width: 100%;
	height: 560px;
}